<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>9502806880</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Library/Developer/Xcode/DerivedData/Headhunter-aizkahihctuyvodrqnrzrkacdaby/Build/Intermediates.noindex/Headhunter.build/Debug-iphonesimulator/Headhunter.build/Objects-normal/arm64/Headhunter.swiftmodule</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: /Users/bekaris070603/Library/Developer/Xcode/DerivedData/Headhunter-aizkahihctuyvodrqnrzrkacdaby/Build/Intermediates.noindex/Headhunter.build/Debug-iphonesimulator/Headhunter.build/Objects-normal/arm64/Headhunter.swiftmodule: No such file or directory</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Library/Developer/Xcode/DerivedData/Headhunter-aizkahihctuyvodrqnrzrkacdaby/Build/Intermediates.noindex/Headhunter.build/Debug-iphonesimulator/Headhunter.build/Objects-normal/arm64/Headhunter.swiftmodule</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>9502806880</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Library/Developer/Xcode/DerivedData/Headhunter-aizkahihctuyvodrqnrzrkacdaby/Build/Intermediates.noindex/Headhunter.build/Debug-iphonesimulator/Headhunter.build/Objects-normal/arm64/Headhunter.swiftmodule</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: /Users/bekaris070603/Library/Developer/Xcode/DerivedData/Headhunter-aizkahihctuyvodrqnrzrkacdaby/Build/Intermediates.noindex/Headhunter.build/Debug-iphonesimulator/Headhunter.build/Objects-normal/arm64/Headhunter.swiftmodule: No such file or directory</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
